<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AzerothMods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to "AzerothMods", root_url, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <%= form_tag search_path, :method => :get, :class => "form-inline mt-2 mt-md-0" do %>
          <input style="width: 312px;" class="form-control mr-sm-2" type="text" placeholder="<%= params["q"] || "Search by Module/Tool name.." %>" aria-label="Search" name="q">
          <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item <%= cp(root_url) %>">
            <%= link_to "Modules", root_url, class: "nav-link" %>
          </li>
          <li class="nav-item <%= cp(tools_path) %>">
            <%= link_to "Tools", tools_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= cp(lua_scripts_path) %>">
            <%= link_to "Lua Scripts", lua_scripts_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container pt-5 mt-4">
      <%= yield %>

      <hr class="featurette-divider">
    </div>

    <footer class="container">
      <p class="float-right"><a href="#top">Back to top</a></p>
      <p>AzerothMods - <i class="fab fa-github"></i> <a href="https://github.com/arubinofaux/azerothmods" target="_blank">Source Code</a></p>
    </footer>
  </body>
</html>
